h1{
    font-size: 24px;
}

p{
    font-size: 18px;
}
h1,p{
    margin-top: 0;
}

.card{
    width: 560px;
    background: #000;
    margin: 0 auto;
    color:white;
    padding: 45px;
}

a{
    color: #FFE600;
}
.accent-color{
    color: #FFE600;
}

.links{
    margin-top: 0px;
    margin-bottom: 0px;
}
.button{
    background: #FFE600;
    padding: 15px 30px;
    color: black;
    display: inline-block;
    margin-right:25px ;
    margin-bottom:20px ;
    text-decoration: none;
}
.button:hover{
    background: orange;
}

.card-importants-notes{
    background: #c7c4c4;
    border: 1px dotted #000;
    margin: 100px auto;
    width: 560px;
    padding: 45px;;
}