/*  Fonts
    -----
    font-family: 'Lora', serif;
    font-family: 'Ubuntu', sans-serif;
 */
body {
    margin: 0;
    font-family: "Ubuntu", sans-serif;
}
/* =================
    Typography
    ================= */
h1 {
    font-family: 'Lora', serif;
    font-weight: 700;
    color: #143774;
    margin: 0;
}
header {
    background: #f8f8f8;
    padding: 2em 0;
}
nav ul {

    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin-left: 2em;
}

nav a {
    text-decoration: none;
    color: #707070;
    font-weight: 700;
    padding: .25rem 0;
}

nav a:hover,
a:focus {
    color: #1792d2;
}
.container {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}
.container-nav{
    display: flex;
    justify-content: space-between;
}

.subtitle{
    font-weight: 700;
    color: #1792d2;
    font-size: .75rem;
    margin: 0;
}
.active {
    border-bottom: 2px solid #1792d2;;
}