* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1rem;
    color: #404040;
    text-align: center;
}

h1 {
    font-size: 2.25rem;
    font-weight: 300;
    color: white;
    margin:0;
}
h1 + p {
    color: #ff713b;
    font-weight: 900;
    font-size: 1.3125;
    margin: 0;
}

h2 {
    font-size: 1.3125rem;
    margin: 0;
}

h2 + p {
    color: #ff713b;
    font-weight: 900;
    text-transform: uppercase;
    margin-top: 0;
}
.top-text {
    font-size: 0.625rem;
    font-weight: 900;
    color: #ff713b;
    text-transform: uppercase;
    order: -1;
}
.fine-print {
    font-size: 0.625rem;
    letter-spacing: 1px;
}

strong {
    font-weight: 900;
}

/* =================
   Intro section 
   ================= */
.intro {
    background: #404040;
    background-image: url(../images/bbq.png);
    background-size: cover;
    background-position: center;
    padding: 0 0.5em 2em;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 50vh; */
}

/* =================
   main-content section 
   ================= */
.main-content {
    padding: 2em 1em;
}

/* solution #1  */
/* .intro > *,
.main-content > * {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
} */

/* solution #2  */
.container {
    max-width: 400px;
    margin: 0 auto;
}
.container-intro{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 50vh;
}


/* =================
   form
   ================= */
   
   .email-collector {
    width: 80%;
    max-width: 300px;
    margin: 1.25 em auto;
}

input,
.btn {
    width: 100%;
    border-radius: 5px;
}

.btn {
    display: inline-block;
    padding: 1em 1.5em;
    font-size: 0.625rem;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 1px;
    border: 0;
    cursor: pointer;
}

.btn-primary {
    background-color: #404040;
    color: white;
    transition: background-color 250ms;

}

.btn-primary:hover {
    background-color: #F18119;
}

/* =================
   media query
   ================= */

@media (min-width: 500px) {
    body {
        font-size: 1.125rem;
        display: flex;
    }
    h1 {
        font-size: 3.5rem;
    }
    h2,
    h1 + p {
        font-size: 1.75rem;
    }

    .intro, .main-content {
        width: 50%;
        min-height: 100vh;
    }
    .main-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .container-intro {
        height: 100%;
    }
}
