* { box-sizing: border-box; }

body {
    margin: 0;
    background: #2C73D2;
    color: #fff;
    text-align: center;
}

.flex-container {
    border: 10px solid #F9F871;
    max-width: 700px;
    margin: 0 auto;
    padding: .25em;
    
    min-height: 300vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  /* this is work on main axis*/
    align-items: flex-start;
    align-content: flex-start; /* this is work on cross axis*/

    /*
    - justify-content — controls alignment of all items on the main axis.
    - align-items — controls alignment of all items on the cross axis.
    - align-self — controls alignment of an individual flex item on the cross axis.
    - align-content — described in the spec as for "packing flex lines"; controls space between flex lines on the cross axis.
    - gap, column-gap, and row-gap — used to create gaps or gutters between flex items.
    */
}

.big {
    font-size: 2em;
}

.flex-item {
    background: #8BEE86;
    margin: 25px;
    padding: 25px;
    color: #424656;
}