
body{
    margin: 0px;
    color: #707070;
    font-size: 1.125rem;
}
/* Typography  */
h1{
    font-size: 3rem;
    color: #212614;
}
h1{
    font-size: 1.5rem;
}
h1 span {
    color: #b7832f;
}

/* Layout  */
img{
    max-width: 100%;
}
.container{
    width: 90%;
    max-width: 980px;
    margin: 0 auto;
}
.columns{
    display:flex;
}