h1,
h2,
p {
    margin-top: 0;
}

h1 {
    font-size: 24px;
}

p {
    font-size: 18px;
}

a {
    color: #ffe600;
}
header,
section {
    padding: 50px;
}
header {
    background: #ffe600;
    color: black;
}

.section-one {
    color: white;
    background: #000;
}
.section-two {
    color: black;
    background: white;
}
.section-one .btn {
    background: #ffe600;
    color: black;
    font-weight: bold;
}
.section-one .btn:hover {
    background: orange;
}

.section-two .btn {
    background: #000;
    color: white;
    font-weight: bold;
}
.section-two .btn:hover {
    background: orange;
}



.accent-color {
    color: #ffe600;
}

.btn {
    display: inline-block;
    padding: 10px 25px;
    text-decoration: none;
}

.card-importants-notes {
    background: #c7c4c4;
    border: 1px dotted #000;
    margin: 100px auto;
    width: 560px;
    padding: 45px;
}
