body {
    margin: 0;
}

h1, h2, p {
    margin-top: 0;
}

h1 {
    font-size: 24px;
}

p {
    font-size: 18px;
}

a {
    color: #FFE600;
}

header,
section {
    padding: 50px;
}

header {
    background: #FFE600;
    color: #000;
}

.section-one {
    background: black;
    color: white;
}

.section-two-link { 
    color: black;
}


/* button styles */
.btn{
    display: inline-block;
    padding: 12px 25px;
    font-weight: bold;
    text-decoration: none;
}
.btn-accent {
    background: #FFE600;
    color: #000;
}

.btn-accent:hover {
    background: white;
}

.btn-black {
    background: #000;
    color: #fff;
}

.btn-black:hover {
    background: #FFE600;
    color: black;
}




.card-importants-notes {
    background: #c7c4c4;
    border: 1px dotted #000;
    margin: 100px auto;
    width: 560px;
    padding: 45px;
}
.basic-selectors{
   width: 100%;
   margin-top: 10px;
}
img{
    width: 100%
}
