* { box-sizing: border-box; }

body {
    margin: 0;
    background: #2C73D2;
    color: #fff;
    text-align: center;
}

.flex-container {
    border: 10px solid #F9F871;
    width: 80%;
    margin: 0 auto;
    padding: .25em;
    
    display: flex;
    flex-direction: column;
    height: 50vh;
}

@media (min-width: 600px) {
    .flex-container {
        flex-direction: row;
    }
}

.flex-item {
    background: #8BEE86;
    margin: .5em;
    padding: .5em;
    color: #424656;
    width: 200px;
}

.flex-item-1 {
    background: plum;
    flex: 1 1 auto; /* Short hand > flex: grow shrink basis; */

    /* flex-basis: 10px; */
        /* min-width: 200px; */
        /* max-height: 25px; */
    align-self: flex-start;

}

.flex-item-2 {
    background: pink;
    /* align-self: flex-start; */
    align-self: center;
}

.flex-item-3 {
    align-self: stretch;
}